body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: bisque;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}

.heading h1 {
  color: brown;
}

.basket_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 100px;
  border: 1px solid black;
  /* background-image: url("../assets/img/basket.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0; */
}

.basket_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.main {
  width: 100%;
  background: lightgray;
  border: 1px solid black;
}

.books_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.books_wrapper_heading {
  color: deeppink;
  width: 100%;
}

.books_content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  height: auto;
  border: 1px solid black;
}

.book_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  border: 1px solid red;
}

.book_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book_img {
  width: 180px;
  height: auto;
}

.book_description {
  display: none;
  position: absolute;
  width: 300px;
  background-color: azure;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 80%;
}

.book_description_text {
  width: 280px;
  padding: 15px;
}

.show_more_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 24px;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 5px;
}
